<main>
  <mat-card class="input-card">
    <mat-card-title> {{title}} </mat-card-title>
    <div class="alert-{{ message.type }}" *ngIf="message.text">
      {{ message.text }}
    </div>
    <mat-stepper orientation="vertical" [linear]="true" #stepper>
      <mat-step
        *ngFor="let step of steps; index as i; first as isFirst"
        [stepControl]="step.form">
        <form [formGroup]="step.form">
          <ng-template matStepLabel>{{step.label}}</ng-template>
          <mat-form-field *ngFor="let input of step.inputs" appearance="fill">
            <mat-label>{{input.field}}</mat-label>
            <input
              [type]="input.type"
              matInput
              [formControl]="input.formControl"
              required>
            <mat-error *ngIf="input.formControl.invalid && input.formControl.touched">
              {{ input?.messageError() }}
            </mat-error>
          </mat-form-field>
          <div>
            <button *ngIf="!isFirst" mat-button matStepperPrevious>Назад</button>
            <button [disabled]="step.form.invalid" (click)="step.handle()" mat-button matStepperNext>{{step.nameButton}}</button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
    <button (click)="redirect()" mat-button color="primary">Войти в аккаунт</button>
  </mat-card>
</main>
