<section class="back">
    <section class="container">
        <div class="title">
            <h1>
                ИнноСтарт
            </h1>
            <hr />
        </div>
        <p class="text">
            Есть идеи, но не с кем реализовать? Может не хватает смелости или средств на реализацию?
            Делись идеями здесь, со своими единомышленниками! Получай советы от экспертов, поддержку от инвесторов,
            находи команду и воплощай свои идеи в жизнь!
            Скорее нажимай на кнопку “Начать знакомство!” и присоединяйся к нашей большой команде идейных и амбициозных
            инноваторов!
        </p>
        <button class="button" (click)="feed()">
            Начать знакомство!
        </button>
    </section>
</section>