.projects {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.main-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.main {
    width: 70%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px
}

.main .first {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.main .first>img {
    height: 100%;
}

.main .second {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.main .second>h2 {
    margin: 0;
    line-height: 24px;
}

.state-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.state-info p {
    margin: 0;
}

.main-block button {
    background: #FD0C50;
    border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 35px;
}

.underlined {
    text-decoration: underline;
}

.category-block {
    width: 100%;
    // height: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 180px;
}

.category-block button {
    background: #FFE8EE;
    border-radius: 5px;
    color: black;
    padding: 8px 20px;
    font-size: 12px;
}

.desc-block {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.btns-block {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.btns-block button {
    background: #FD0C50;
    border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    padding: 6px 24px;
}

.line {
    width: 100%;
    margin-top: 40px;
    // border: 1px solid #3A0BBF;
    border: none;
    border-top: 2px solid #3A0BBF;
}

.effects-block {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.first-effect,
.second-effect {
    width: 35%;
}

.first-effect {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px
}

.first-effect .effect {
    width: calc(50% - 25px);
    display: flex;
    flex-direction: column;
    gap: 5px;
    // background-color: #3A0BBF;
}

.effect-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.effect-info span {
    font-size: 24px;
}

.effect-info img {
    width: 30px;
    height: 30px;
}

.effects-block hr {
    height: 170px;
    border: none;
    border-left: 1px solid #FD0C50;
    // transform: rotate(90deg);
}

.effect-item {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
}

.effect-item img {
    width: 15px;
}

.info-block, .marks-block, .ideas-block {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.info-btns {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.info-btns button {
    background: #3A0BBF;
    border-radius: 5px;
    padding: 6px 17px;
    color: white
}

.marks {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mark {
    display: flex;
    justify-content: space-between;
}

.reviews-block {
    width: 100%;
    margin-top: 40px;
}

.reviews {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review {
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-first {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.review-first img {
    height: 100%;
    aspect-ratio: 1;
}

.review-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review-info p {
    margin: 0;
}

.user-name .name {
    font-size: 16px;
}

.user-name .role {
    margin-left: 30px;
}

.review-text {
    font-size: 15px;
}

.answer {
    color: #AFAFAF;
    font-size: 13px;
    text-decoration: underline;
}

.review-date {

}

.large-text {
    font-size: 18px;
    line-height: 22px;
}


.carousel {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: .5rem;
}

.carousel-items {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 1rem;
    overflow-x: hidden;
    padding: .3rem;
}

.carousel-item {
    min-width: 40%;
    min-height: 200px;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    padding-bottom: 1rem;
}

.arrow {
    width: 14px;
    cursor: pointer;
}

.right-arrow {
    transform: rotate(180deg);
}

.arrow>img {
    width: 100%;
}


.card {
    min-width: 40%;
    min-height: 30px;
    background: #FFFFFF;
    box-shadow: 0px 7px 10px rgba(2, 6, 52, 0.1);
    border-radius: 5px;
}

.card-image {
    width: 100%;
    height: 230px;
}

.card-image img {
    width: 100%;
    height: 100%;
}

.card-info {
    width: 100%;
    height: calc(100% - 230px);
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-header h2 {
    max-width: 100%;
    line-height: 24.2px
}

.card-main {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.card-main p {
    margin: 0;
}

.green {
    color: #00C213
}