<header>
  <div class="left">
    <a class="link-main">
      <img src="../../../../../assets/images/logo.png" />
    </a>
    <div class="left-links">
      <a (click)="redirect(link?.link)" *ngFor="let link of leftLinks">
        <mat-icon matSuffix *ngIf="link.icon" [fontIcon]="link.icon"></mat-icon>
        <span>{{link.name}}</span>
      </a>
    </div>
  </div>
  <div class="right">
    <a *ngFor="let link of rightLinks" (click)="redirect(link?.link)">
      <mat-icon matSuffix *ngIf="link.icon" [fontIcon]="link.icon"></mat-icon>
      <span>{{link.name}}</span>
    </a>
    <a (mouseover)="account = true" class="account">
      <mat-icon matSuffix *ngIf="accountLink.icon" [fontIcon]="accountLink.icon"></mat-icon>
      <span (mouseleave)="account = false" id="account">{{accountLink.name}}</span>
      <div id="account-links" class="account-links" [ngClass]="{showedAccount: account}" (mouseleave)="account = false">
        <a *ngFor="let link of accountLink.links" (click)="redirect(link?.link)">
          {{link.name}}
        </a>
      </div>
    </a>
  </div>
  <div class="container mobile">
    <a class="link-main">
      <img src="../../../../../assets/images/logo.png" />
    </a>
    <div class="menu" (click)="dropToggle()">
      <div class="menu-line"></div>
      <div class="menu-line"></div>
      <div class="menu-line"></div>
    </div>
    <div class="menu-drop" [ngClass]="{showedDrop: menu}">
      <div class="links" [ngClass]="{showedLinks: menu}">

        <img src="../../../../../assets/images/закрыть.png" (click)="menu = false" />
        <a *ngFor="let link of leftLinks" (click)="redirect(link?.link)">
          {{link.name}}
        </a>
        <a *ngFor="let link of accountLink.links" (click)="redirect(link?.link)">

          {{link.name}}
        </a>
      </div>
    </div>
  </div>
</header>
